---
---
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";

html {
  min-height: 100%;
}

body {
  background-color: $background-color;
  height: 100%;
}

.wrapper {
  @include outer-container;
}

.index-header {
  text-align: center;
  font-family: $header-font-family;

  @include media($medium-screen-up) {
    text-align: left;
  }
}

.index-header-text {
  @include span-columns(12);
  color: $brand-color;

  @include media($medium-screen-up) {
    @include span-columns(4);
  }
}

#index-profile-photo {
  border-radius: 50%;
  height: 15rem;

  @include media($medium-screen-up) {
    @include span-columns(4);
  }
}

.index-blog {

  .index-post-excerpt {
    display: none;

    @include media($medium-screen-up) {
      display: block;
    }
  }
}
