---
layout: index
custom_css: main
custom_css: index
---

<div class="index-header">
  <div class="index-header-text">
    <h1>Mike Bowman</h1>
    <h2>Full Stack Developer</h2>
  </div>

  <img src="assets/bitmaker_portrait_cropped.jpg" alt="Mike Bowman" id="index-profile-photo">
  <div class="index-nav">
    CONTENT!
  </div>
</div>

<div class="index-blog">
  {% for post in site.posts limit:3 %}
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2>
      <a class="index-post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div class="index-post-excerpt">
      {{ post.excerpt }}
    </div>
  {% endfor %}
</div>

<div class="index-projects">
  {% assign projects = (site.projects | sort "date" | reverse) %}
  {% for project in projects %}
    <a href="{{ project.url | prepend: site.baseurl }}" class="index-project-link">{{ project.title }}</a>
  {% endfor %}
</div>
