---
layout: index
custom_css: main
custom_css: index
---

<div class="index-header">
  <div class="index-header-text">
    <h1>Mike Bowman</h1>
    <h2>Full Stack Web Developer</h2>
  </div>

  <img src="assets/bitmaker_portrait_cropped.jpg" alt="Mike Bowman" id="index-profile-photo">

  <div class="index-about">
    Hi! I'm Mike, a Full Stack Web Devloper in Toronto. I've just finished learning all about the web at <a href="http://bitmaker.co">Bitmaker</a>, and am eager to find a job that allows me to use and further develop my skills in web development! Find out more <a href="{{ site.url }}/about/">here!</a>
  </div>

</div>

<div class="index-content">
  <a href="{{ site.url }}/blog" class="index-section-header"><h3>--- Blog ---</h3></a>
  <div class="index-blog">
    {% for post in site.posts limit:1 %}
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="index-post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="index-post-excerpt">
        {{ post.excerpt }}
      </div>
    {% endfor %}
  </div>

  <a href="{{ site.url }}/projects" class="index-section-header"><h3>--- Recent Projects ---</h3></a>
  <div class="index-projects">
    <ul class="index-project-list">
      {% assign projects = (site.projects | sort "date" | reverse) %}
      {% for project in projects limit: 2 %}
        <a href="{{ project.url | prepend: site.baseurl }}" class="index-project-link">
          <li class="index-project-list-item">
            <span class="index-project-title">{{ project.title }}</span>
            <img src="{{ project.image }}" alt="{{ project.name }}" class="index-project-thumbnail">
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="index-nav">
  <ul class="index-nav-list">
    <li class="index-nav-list-item"><a href="http://github.com/bowmanmike" class="index-nav-list-link"><i class="fa fa-github-square"></i><span class="index-nav-handles">bowmanmike</span></a></li>
    <li class="index-nav-list-item"><a href="mailto:mbowman2@gmail.com" class="index-nav-list-link"><i class="fa fa-envelope"></i><span class="index-nav-handles">mbowman2@gmail.com</span></a></li>
    <li class="index-nav-list-item"><a href="https://ca.linkedin.com/in/bowmanmike1" class="index-nav-list-link"><i class="fa fa-linkedin-square"></i><span class="index-nav-handles">bowmanmike1</span></a></li>
    <li class="index-nav-list-item"><a href="http://twitter.com/mbowman2" class="index-nav-list-link"><i class="fa fa-twitter-square"></i><span class="index-nav-handles">mbowman2</span></a></li>
  </ul>
</div>
